.mainTop{
	min-width:1120px;
	background-image: url("../images/mainTop_02.jpg");
	padding-bottom:50px
}
.mainTop-inner{
	position:relative;
	width:996px;
	margin: 0 auto;
	padding-top: 63px;
	padding-left: 104px;
}
.mainTop p{
	color:#7f7f7f;
	width: 600px;
	line-height: 25px;
}
.mainTop i{
	color:#cb2700;
	font-style: normal;
	text-decoration: underline
}
.mainTop a{
	margin-top: 30px;
}
.mainTop img{
	position:absolute;
	right:0px;
	top:-40px
}
.left{
	overflow:hidden;
	float:left;
	margin-right: 21px;
}
.next{
	width: 619px;
	margin-left: 28px;
	border-bottom: 1px dashed #3c3d3d;
	margin-bottom: 18px;
	overflow:hidden;
	padding-bottom: 31px;
}
.next{
	border:none;
	padding-bottom: 0;
	margin-bottom: 0;
}
h2{
	font-family: Times;
	font-size: 32px;
	/*line-height: 11px;*/
	color:white;
	margin-bottom: 19px;
}
.next .top{
	overflow:hidden;
	border-bottom:1px dashed #3c3d3d;
	padding-bottom:30px;
	margin-bottom:30px;

}
.next .top a{
	margin-left: 80px;
}
.next .bottom a{
	margin-left: 80px;
}
.next .top img{
	width: 60px;
	float:left;
}
.next .top p{
	width: 525px;
}
.next .bottom img:first-child{
	width: 60px;
	float:left;
}
.left p{
	line-height: 23px;
	color:#7f7f7f;
	margin-bottom: 25px;
}
.left ul{
	float:left;
	margin-bottom: 19px;

}
.left ul li{
	width: 299px;
	border-bottom:1px dashed #3c3d3d;
	background-image:url(../images/arrowWhite_12.png);
	background-repeat: no-repeat;
	list-style-position:inside;
	background-position: 2px 15px;
}
.left ul li:last-child{
	border:none;
}
.left .sLeft li{
	margin-right: 21px;
}
.left ul li a{
	color:white;
	line-height: 34px;
	font-style:italic;
	text-indent: 15px;
}
.next img{
	width: 220px;
	margin-right: 21px;
	float:left;
}
.next p:nth-child(2){
	float:left;
}
.next p:last-child{
	margin-bottom: 0;
}
.right{
	float:right;
	width: 300px;
}
article{
	padding-bottom: 39px;
}
h3{
	width: 300px;
	line-height: 48px;
	font-size: 25px;
	font-family: Times;
	color:white;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	text-indent: 22px;
}
article p{
	margin-left: 20px;
	color:#7f7f7f;
	line-height: 23px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.right ul{
	margin-left: 20px;
	margin-bottom: 10px;
}
.right ul li{
	width: 280px;
	border-bottom:1px dashed #3c3d3d;
	color:#7f7f7f;
	line-height: 34px;
	/*font-style:italic;*/
}
.right ul li:last-child{
	border:none;
}
.right span{
	font-style: normal;
	margin-right: 20px;
}
